### Docker
export DOCKER_USERNAME={{ zsh_secret_docker_username }}
export DOCKER_PASSWORD={{ zsh_secret_docker_password }}

### Composer
export COMPOSER_AUTH='{"github-oauth": {"github.com": "{{ zsh_secret_docker_github_api_token }}"}}'
